<form action="/signup" method="POST">
  <label>name:</label>
  <input type="text"  name="new_name"><br><br>
  <label>username:</label>
  <input type="text" name="new_username"><br><br>
  <label>email:</label>
  <input type="text" name="new_email"><br><br>
   <label>password:</label>
  <input type="text" name="new_password"><br><br>
  <input type="submit" value="Submit">
</form>